{# pojedynczy item w kategorii #}
<article class="clearfix">
    {# ilustracja #}
    {% if item.params.get('catItemImage') and item.imageMedium is not empty %}
    <div class="image"><a href="{{ item.link }}" title="{% spaceless %}{{ item.title }}{% endspaceless %}">{{ item.image|raw }}</a></div>
    {% endif %}
    {# nagłówek #}
    <header>
        {% if item.params.get('catItemDateCreated') %}
            {# data #}
            <time datetime="{{ item.created|date('Y-m-d H:i') }}">{{ item.created|date('d F Y') }}</time>
        {% endif %}
        {% if item.params.get('catItemTitle') %}
            {# tytuł #}
            <h3 class="itemTitle">{% spaceless %}
                {% if item.params.get('catItemTitleLinked') %}
                    <a href="{{ item.link }}">{{ item.title }}</a>
                {% else %}
                    {{ item.title }}
                {% endif %}
            {% endspaceless %}</h3>
        {% endif %}
    </header>
    {# lead #}
    {% if item.params.get('catItemIntroText') %}
        <p>{{ item.introtext|striptags }}</p>
    {% endif %}
    {# czytaj więcej #}
    {% if item.params.get('catItemReadMore') %}
        <a class="btn btn-primary" href="{{ item.link }}">{{ trans('K2_READ_MORE') }}</a>
    {% endif %}
</article>
